<div class="form-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <!-- Email com ícone -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail *</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput type="email" formControlName="email" placeholder="Digite seu e-mail">
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        E-mail é obrigatório e deve ser válido.
      </mat-error>
    </mat-form-field>

    <!-- Senha com ícone -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha *</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" formControlName="password" placeholder="Digite sua senha">
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Senha é obrigatória e deve ter pelo menos 6 caracteres.
      </mat-error>
    </mat-form-field>
    
    <button mat-raised-button type="submit" [disabled]="loginForm.invalid" class="btn btn-confirm full-width">
      Entrar
      <mat-spinner *ngIf="isLoading" diameter="20" class="spinner">
      </mat-spinner>
    </button>

  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>